.container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "projects-main-container todo-main-container";
}

.projects-main-container {
  grid-area: projects-main-container;
  border: 1px solid black;
}

.todo-main-container {
  grid-area: todo-main-container;
  border: 1px solid black;
}

.todo-completed {
  text-decoration: line-through;
}

.todo-priority-high {
  background-color: red;
}

.todo-priority-medium {
  background-color: orange;
}

.todo-priority-low {
  background-color: green;
}
