.todo-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.todo-completed {
  text-decoration: line-through;
}

.todo-priority-high {
  background-color: red;
}

.todo-priority-medium {
  background-color: orange;
}

.todo-priority-low {
  background-color: green;
}
